.rescont {
  display: flex;
  margin: 7rem;
}
.resleft {
  flex: 1;
}
.resright {
  flex: 1;
  /* background-color: #e6b9b9; */
}
.rightup {
  display: flex;
}
.resx {
  flex: 1;
}

.b1,
.b2,
.b3 {
  /* flex: 1; */
  width: 80px;
  /* background-color: #5a3030; */
  height: 80px;
  /* width: 60px; */
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

hr {
  margin: 1rem;
}

.others {
  display: flex;
  /* margin: 1rem; */
  align-items: center;
  justify-content: center;
}

.othleft {
  flex: 4;
}
.othright {
  flex: 3;
}
.ol1,
.b1 {
  background-color: #ffd0d0;
  color: #d88b94;
}
.b3 {
  background-color: #ff9eaa;
  color: #db8993;
}
.ol2,
.b2 {
  background-color: #c1ece4;
  color: #7dc8de;
}
.ol1,
.ol2,
.or1,
.or2 {
  padding: 1rem;
  margin: 0.7rem 1rem;
  border-radius: 1rem;
}
.or1 {
  background-color: #7090bf;

  color: white;
}
.or2 {
  color: white;
  background: linear-gradient(rgb(159, 159, 228), rgb(226, 11, 47));
}

.b3child2 {
  color: white;
}
.speed {
  color: white;
}
