.keypad {
  display: grid;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* background-color: #c92424; */
  /* align-items: center; */
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 750px;
  margin: auto;
  gap: 12px;
  width: 100%;
}

.keys {
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  width: 100%;
  background-color: #92D3F5;
  color: #428BC1;
}

.row1 .row2 .row3 {
  display: flex;
  align-items: center;
  gap: 18px !important;
}
