.lcard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  /* flex-direction: column; */
}

.lcard1 {
  background-color: #e7bc2e;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lcard2 {
  background-color: #ccd9eb;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.limg {
  width: 4rem;
  padding: 2rem;
  height: 4rem;
}
