 

.ltitle{
  display: flex;
  background-color: #a50404;
  border-radius: .4rem;
  margin: 2rem;
  padding: 3rem;
}
.levelcont{
  display: flex;
  align-items: center;justify-content: center;
  flex-direction: row-reverse;
  /* height: 90vh; */
}

.lbody{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.ltitle:first-child{
  background-color: #fde366;
}
 







