/* .full_settings{
  background-color: #363232;
  width: 100%;
} */

.settingbody {
  display: flex;
  /* background-color: #5c4c4c; */
  /* width: 23rem; */
  font-weight: 800;
  color: #d7a6a6;
  font-size: 1.3em;
  align-items: center;
  /* justify-content: space-between; */
}
.left {
  max-height: 70vh;
  overflow-y: scroll;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
  width: 100%;
}
.right {
  /* flex: 2.5; */
  /* max-width: 400px; */
  width: 30%;
  /* width: fit-content; */
  /* background-color: #fce5e5; */
  border: 2px solid rgba(168, 166, 168, 0.897);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 1.5rem;
  display: flex;
  color: #d7a6a6;
  /* align-items: center; */
  flex-direction: column;
}
.right_top {
  padding: 1rem;
  width: 90%;
  /* background-color: #eb2020; */
}
.avatar_setting {
  width: 90px;
  height: 36px;
  padding: 12px;
  cursor: pointer;
}
.setbtn3 {
  background-color: #fff9f9;
  color: #494343;
  padding: 0.6rem  ;
  height: 2.6rem;
  border-radius: 1.2rem;
  text-align: center;
  font-weight: 900;
  font-size: 19px;
  color: #d7a6a6;
  cursor: pointer;
  margin: 0.3rem;
}
.setbtn3:hover {
  /* background-  */
  background-color: #f3dede;
  cursor: pointer;
}
.timers {
  display: flex;
  margin: 1rem;
  gap: 8px;
}
.set_btn1 {
  background-color: #fff4f4;
  padding: 0.4rem 0.6rem;
  border-radius: 1em;
  width: 100%;
  cursor: pointer;
  font-size: 0.9em;
  align-items: center;
  justify-content: center;
  display: flex;
}
.toggler {
  /* background-color: #e2b6b6; */
  display: flex;
  align-items: center;
  margin:  0.3em 0;
  cursor: pointer;
  justify-content: space-between;
}
.onoffbtns {
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.range_one {
  /* background-color: #b86161; */
  margin: 0.3rem;
  margin-top: 1rem;
}
.musicbtns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mus_btn1,
.mus_btn2 {
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: #fff4f4;
  border-radius: 1em;
  padding: 0.5rem;
}

.font_btns {
  gap: 5px;
  cursor: pointer;
  display: flex;
  gap: 12px;
}
.font_btn1,
.font_btn2,
.font_btn3 {
  border-radius: 1em;
  padding: 0.5rem;
  background-color: #fff4f4;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.font_btn1,
.mus_btn1 {
  border-radius: 1em;
  padding: 0.5rem;
  background-color: #fff4f4;
  /* border: 2px solid #d8093d; */
}

.feedback_form_body {
  margin-top: 24px;
  display: flex;
  width: 70%;
  background-color: #fff4f4;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
}
.feedinp {
  width: 60%;
  background-color: #fff;
  
  padding: 0.3rem;
  border: 1px solid #e491ad !important;
  margin: 0.4rem;
}
.feedtxt { 
  border: 1px solid #e6a1b8 !important;
  width: 60%;
  height: 3rem;
  margin-top: 1rem;
}
.feed_form {
  margin-top: 1rem;
}
.keypad_theme {
  background-color: #fff4f4;
  width: 80%;
  text-align: center;
  padding: 0.41rem;
  border-radius: 1rem;
}
.color_body {
  padding: 0.6em;cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  max-width: min-content;
  margin-left: 6px;
}
.ccbox {
  border-radius: 0.8rem;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.color_combo_1 {
  display: flex;
  height: 60px;
  width: 60px;
}
/* .range_inp{
  color: pink !important;
  background: #cc4c4c !important;
  background-color: #754141 !important;
} */
input[type='range'] { 
  width: 95%;
  height: .3rem;
  -webkit-appearance: none;
  appearance: none;
  
  background-color: #f0d1d1;

  color: #a33a3a;
}
input[type='range']::-webkit-slider-thumb{
  background: #e9b4b4;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  appearance: none;
}

.color_combo_2 {
  display: flex;
}
.cc_left2 {
  background-color: #c03d3d;
  width: 3rem;
}
.cc_right2 {
  background-color: #e9c2c2;
  width: 3rem;
}
.feed_btn {
  background-color: #f7d2d2;
  width: 70%;
  color: #ffffffee;
  font-weight: 700;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 1em;
  padding: 0.51rem;
}
.feed_btn:hover{
  background-color: #f1b7b7;
}
.deletebtn {
  display: flex;
  align-items: center;
}

.close_btn {
  padding: 1rem;
  background-color: #d7a6a6;
  color: #c00241;
  width: fit-content;
  justify-content: start;
  margin: 1rem;
}

.right_name {
  color: #494343;
  font-size: 0.8rem;
  text-align: left;
}
.right_email {
  color: #776f6f;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.creds {
  /* background-color: #c00241; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  align-self: center;

  padding: 0.31rem;
}
.right_top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.numpad_cover{
  position: relative; 
}
.icon_tick{
  position: absolute; 
  color: #07991a;
  font-size: 2.2rem !important;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}