/* Add this CSS to style the modal */
.setting-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: auto;
  border-radius: 2em;
  overflow: hidden;
  margin-top: 1rem;
  overflow: hidden;
}

.setting-modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  /* max-width: 600px; */
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.setting-modal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
