.cont {
  color: white;
  background-color: #c7a1d1;
  height: 22rem;
  width: 17rem;
  /* padding: 2rem; */
  display: flex;

  -webkit-border-top-left-radius: 44px;
  -webkit-border-bottom-right-radius: 44px;
  -moz-border-radius-topleft: 44px;
  -moz-border-radius-bottomright: 44px;
  border-top-left-radius: 44px;
  border-bottom-right-radius: 44px;
}
h2 {
  text-align: center;
}
.left {
  padding: 7px 0;
}
.right {
  /* background-color: #1f1313; */
  /* float: right; */
  text-align: end;
  padding: 7px 0;

  /* display: flex; */
  /* align-items: end; */
}
.signup {
  border-radius: 2rem;
  padding: 5px;
  color: white;
  font-size: 0.7rem;
  background: rgb(189, 13, 13);
  background: linear-gradient(
    90deg,
    rgba(189, 13, 13, 1) 0%,
    rgba(225, 137, 6, 1) 67%,
    rgba(255, 239, 0, 1) 100%
  );
}
.login {
  margin-top: 19px;
  padding: 5px;
  font-size: 0.7rem;
  color: white;
  margin-top: 19px;
  border-radius: 2rem;
  /* margin-top: 9px; */
  background: rgb(63, 180, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 180, 251, 1) 0%,
    rgba(22, 185, 212, 1) 45%,
    rgba(70, 252, 115, 1) 100%
  );
}
.body {
  margin: 0 2rem;
}
.btns {
  display: flex;
  /* background-color: #6b5454; */
}
.fb,
.gg {
  margin: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb {
  background-color: #3b46a8;
  /* padding: 5px; */
  /* margin: 7px; */
  font-size: 0.7rem;
  /* padding: 2px; */
}
.fbsvg {
  background-color: #222e92;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.gg {
  background-color: #cc5530;
  font-size: 0.7rem;
}
.ggsvg {
  background-color: #a84121;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
div {
  font-size: 0.71rem;
}
