.lb_body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  /* background-color: #cc75c5; */
}
.lb_heading {
  /* background-color: #d66060; */
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1rem;
}
.lb_table {
  /* background-color: #a9c2d1; */
  /* padding: 12rem; */
  border-top: 2px solid rgb(177, 169, 169);
  /* padding-top: 1rem; */
}
.lb_table_body {
  /* background-color: #8ee69c; */
  width: 45rem;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  gap: .4rem;
}

.col_left,
.col_right {
  /* background-color: #964343; */
  display: flex;
  align-items: center;
  gap: 1rem;
}
.col_right{
  gap: 5rem;
  width: 27%;
  justify-content: space-between;
  /* background-color: #4e2727; */
}
.col_left{
  /* background-color: #31c26d; */
}
.lb_row {
  /* background-color: #ffebeb; */
  margin: 0.2rem 0;
  padding:.5rem 2rem ;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lb_row:hover{
    background-color: #ffe4e4;
}

 

.col_1{
  /* background-color: #fcd7d7; */
  min-width: 2.3rem;
  align-self: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.yo{
  font-weight: 800;
}







